.nav {
    position: fixed;
    top: 0;
    width: 100%; 
    height: 25px;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    display: flex;
    transition: all 0.4s;
    transition-timing-function: ease-in;
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}
.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
@media only screen and (max-width: 600px) {

  }